{% load i18n %}
{% autoescape off %}
Hello!

You requested to change your Artory password. You can do this using the link below:

{% block reset_link %}
{{ protocol}}://{{ domain }}{% url 'auth_password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

If you didn't request this, please ignore this email.
Your password will not change until you access the button above and create a new one.

Thanks for using Artory! Please respond to this email if you have any questions.

{% endautoescape %}
