{% extends "terms_base.html" %}
{% load staticfiles %}

{% block title %}{{APP_NAME}} Terms and Conditons{% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <img src="{{STATIC_URL}}{{LOGO}}">
      <h1>Terms and Conditions</h1>
      <hr>
      <h2>Introduction</h2>
      <p>These terms and conditions govern your use of the websites www.artory.co.uk and artory.qualia.org.uk. By using any of these, you accept these terms and conditions in full. If you disagree with these terms and conditions or any part of these terms and conditions, you must not use this website.</p>
      <p>Artory project has been produced by i-DAT and Plymouth Arts Centre with the Plymouth Culture Guide Group. The Artory app is designed and developed by Elixel with i-DAT. The branding is designed  by Intercity.</p>
      <p>Artory is powered by Qualia* and  funded by i-DAT with Plymouth University, Plymouth Arts Centre, Destination Plymouth, Plymouth City Council, Plymouth Culture and Elixel.</p>
      <p><i>*Qualia was originally developed by i-DAT, University of Warwick and Cheltenham Festivals 2013 through the Digital R&amp;D Fund for the Arts, which is run by Nesta in partnership with Arts Council England and the Arts and Humanities Research Council.</i></p>
      <hr>
      <h2>Disclaimer</h2>
      <p>The Artory Partners make every possible effort to ensure that the information published on this website is accurate and up to date, but does not accept any responsibility for errors or omissions and reserves the right to make amendments at any time and without prior notice. <i>The Partners</i> do not accept responsibility for the information provided on external sites reached via links from any of its web pages.</p>
      <hr>
      <h2>Freedom of Information</h2>
      <p>The Artory Partners have a commitment to openness and transparency, and have always ensured relevant information is made available wherever possible to individuals who may request it, subject to safeguarding the privacy of individuals and to legitimate considerations of national security, law enforcement and commercial interests where relevant.</p>
      <hr>
      <h2>Copyright</h2>
      <p>Artory Partners own the intellectual property rights in the website and material on the website. Subject to the licence below, all these intellectual property rights are reserved.</p>
      <p>You may view, download for caching purposes only, and print material from the website for your own personal use. </p>
      <p>You must not republish, sell, rent, sub-license or show in public any material from this website (including republication on another website). You may not reproduce, duplicate, copy or otherwise exploit material on our website for a commercial purpose.</p>
      <hr>
      <h2>Privacy Statement</h2>
      <p><b>This statement covers the services provided by the Artory website:</b></p>
      <p>The Data Controller for this website is i-DAT, Plymouth University.
        The purpose of this statement is to inform users of this web site, about the information that is collected from them when they visit this site, how this information is used, if it is disclosed and the ways in which we protect users’ privacy.</p>
        <p>We will only use information you provide for the purpose we have described and we do not pass on your details to any third party unless you give us permission to do so. We use appropriate security technologies to safeguard your data and take appropriate steps to prevent unauthorised access to it.</p>
        <p><b>What information do we collect?</b></p>
        <p>We may collect, store and use the following kinds of personal data:</p>
        <ol>
          <li>information about your computer and about your visits to and use of this website (including your IP address, geographical location, browser type, referral source, length of visit and number of page views);</li>
          <li>information that you provide to us for the purpose of registering with us;</li>
          <li>information that you provide to us for the purpose of subscribing to our email notifications </li>
        </ol>
        <p>The purposes for which the data are intended to be processed are as follows:</p>
        <ol>
          <li>to administer the website;</li>
          <li>to send you email notifications which you have specifically requested</li>
          <li>to deal with enquiries and complaints made by or about you relating to the website.</li>
        </ol>
        <p>If you register on this site or through the Artory App, your personal details will be used only for the purpose of keeping you informed about the Artory project. i-DAT, Plymouth University will respect the privacy of your personal information and undertakes to comply with all applicable Data Protection legislation currently in force.</p>
        <p>In relation to the personal information provided by you on registration, you agree that i-DAT may use such information in accordance with the purposes for which i-DAT has obtained your permission upon registration. We do not give, share, sell or transfer any personal information collected to third parties.</p>
        <p>Unless otherwise required by statute, we do not identify publicly who sends questions or comments to our web site. This privacy statement relates only to the artory.co.uk site and Artory App. The artory.co.uk site and App may contain links to other sites where information practices may be different to ours. You should consult the other sites' privacy notices as we are not responsible for and have no control over information that is submitted to, or collected by, third party websites.</p>
        <p>Except as provided in this privacy policy, we will not provide your information to third parties. We are committed to ensuring that your personal information is used properly and is kept securely</p>
        <p>This privacy statement relates only to the Artory website. The Artory website may contain links to other sites where information practices may be different to ours. You should consult the other sites’ privacy notices as we are not responsible for and have no control over information that is submitted to, or collected by, third party websites.</p>
        <hr>
        <h2>Amendment</h2>
        <p>These Terms and Conditions may be amended from time to time and we will inform you of such changes by drawing your attention to such amendment when you use the Artory website.</p>
        <hr>
        <h2>Art Miles&reg;</h2>
        <p>Art Miles is trademarked by the Southbank Centre, a charity registered in England and Wales No. 298909.</p>
        <hr>
        <h1>PRIVACY POLICY</h1>
        <hr>
        <h2>Introduction</h2>
        <p>This Privacy Policy governs your use of the Artory App. By downloading and installing the Artory App, you accept these terms in full. If you disagree with these terms, or any part of these terms and conditions, you must not download and install this App.</p>
        <p>Artory project has been produced by i-DAT and Plymouth Arts Centre with the Plymouth Culture Guide Group. The Artory app is designed and developed by Elixel with i-DAT. The branding is designed  by Intercity.</p>
        <p>Artory is powered by Qualia* and  funded by i-DAT with Plymouth University, Plymouth Arts Centre, Destination Plymouth, Plymouth City Council, Plymouth Culture and Elixel.</p>
        <p><i>*Qualia was originally developed by i-DAT, University of Warwick and Cheltenham Festivals 2013 through the Digital R&amp;D Fund for the Arts, which is run by Nesta in partnership with Arts Council England and the Arts and Humanities Research Council.</i></p>
          <hr>
          <h2>The Policy</h2>
          <p>This privacy policy governs your use of the software application Artory App ("Application") for mobile devices that was created by the Artory Partners. The Application is intended as a "What’s On" listing application for culture in Plymouth that also earns you Art Miles&reg;* to exchange for exclusive offers. By setting your preferences you get a personal guide to events and cultural happenings in Plymouth. You can see what other people are recommending, what’s nearby you now, or search via date, venue or event. </p>
          <p><i>*Art Miles&reg; is trademarked by the Southbank Centre, a charity registered in England and Wales No. 298909.</i></p>
            <hr>
            <h2>User Provided Information</h2>
            <p>The Application obtains the information you provide when you download and register the Application. Registration with us is optional. However, please keep in mind that you may not be able to use some of the features offered by the Application unless you register with us.</p>
            <p>When you register with us and use the Application, you generally provide (a), email address, password, user name, gender, Y.O.B, postcode, employment status, educational status and household income; (b) transaction-related information, such as where you Check-In, respond to any offers, or download or use applications from us; (c) information you provide us when you contact us for help; (d) information you enter into our system when using the Application, such as feedback </p>
            <p>We may also use the information you provided us, to contact you from time to time to provide you with important information, required notices and service updates. </p>
            <hr>
            <h2>Automatically Collected Information</h2>
            <p>In addition, the Application may collect certain information automatically, including, but not limited to, the type of mobile device you use, your mobile devices unique device ID, the IP address of your mobile device, your mobile operating system, the type of mobile Internet browsers you use, information about the way you use the Application and your location.</p>
            <hr>
            <h2>Do third parties see and/or have access to information obtained by the Application?</h2>
            <p>Only aggregated, anonymous data is transmitted to 3rd parties [limited to cultural organisations and public sector bodies] to improve their understanding of your cultural experiences and to influence their future cultural offers. We will share your information with third parties only in the ways that are described in this privacy statement.</p>
            <p>We may disclose User Provided and Automatically Collected Information:</p>
            <ul>
              <li>as required by law, such as to comply with a subpoena, or similar legal process;</li>
              <li>when we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request;</li>
              <li>with our trusted services providers who work on our behalf, do not have an independent use of the information we disclose to them, and have agreed to adhere to the rules set forth in this privacy statement.</li>
              <li>If i-DAT, Plymouth University is involved in a merger, acquisition, or sale of all or a portion of its assets, you will be notified via email and/or a prominent notice on our website of any change in ownership or uses of this information, as well as any choices you may have regarding this information.	</li>
            </ul>
            <hr>
            <h2>What are my opt-out rights?</h2>
            <p>You can stop all collection of information by the Application easily by uninstalling the Application. You may use the standard uninstall processes as may be available as part of your mobile device or via the mobile application marketplace or network. </p>
            <hr>
            <h2>Data Retention Policy, Managing Your Information</h2>
            <p>We will retain User Provided data for as long as you use the Application and for a reasonable time thereafter. We will retain Automatically Collected information for up to 5 years and thereafter may store it in aggregate. If you’d like us to delete User Provided Data that you have provided via the Application, please contact us at contact@artory.co.uk and we will respond in a reasonable time. Please note that some or all of the User Provided Data may be required in order for the Application to function properly.</p>
            <hr>
            <h2>Security</h2>
            <p>We are concerned about safeguarding the confidentiality of your information. We provide physical, electronic, and procedural safeguards to protect information we process and maintain. For example, we limit access to this information to authorised employees and contractors who need to know that information in order to operate, develop or improve our Application. Please be aware that, although we endeavour to provide reasonable security for information we process and maintain, no security system can prevent all potential security breaches.</p>
            <hr>
            <h2>Changes</h2>
            <p>This Privacy Policy may be updated from time to time for any reason. We will notify you of any changes to our Privacy Policy by posting the new Privacy Policy here. You are advised to consult this Privacy Policy regularly for any changes, as continued use is deemed approval of all changes. </p>
            <hr>
            <h2>Your Consent</h2>
            <p>By using the Application, you are consenting to our processing of your information as set forth in this Privacy Policy now and as amended by us. "Processing", means using cookies on a computer/hand held device or using or touching information in any way, including, but not limited to, collecting, storing, deleting, using, combining and disclosing information, all of which activities will take place in the United Kingdom. If you reside outside the United Kingdom your information will be transferred, processed and stored there under United Kingdom’s privacy standards.</p>
            <hr>
            <h2>Contact us</h2>
            <p>If you have any questions regarding privacy while using the Application, or have questions about our practices, please contact us via email at contact@artory.co.uk.</p>






    </div>
  </div>



  {% endblock %}
